# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/bin

export PATH

ORACLE_HOME={{ oracle_home }}
ORACLE_SID={{ db_sid }}

export ORACLE_HOME ORACLE_SID
